@import "~bootstrap/scss/bootstrap";
@import "variables";
@import "fonts";
@import "bootstrap-custom";
@import "components";
@import "general";
@import "helper";
@import "menu";
@import "home";
@import "features";
@import "testi";
@import "price";
@import "cta";
@import "blog";
@import "work";
@import "team";
@import "user";
@import "countdown";
@import "contact";
@import "footer";


.text-light-dark {
  color: rgb(81 81 81) !important;
}


@for $i from 1 through 10 {
  .back-#{$i} {
    z-index: -$i !important;
  }
}

@for $i from 1 through 20 {
  .font-#{$i} {
    font-size: calc(#{$i}vw + 14px) !important;
  }
}


@for $i from 1 through 10 {
  .small-#{$i} {
    font-size: #{$i+10}px !important;
  }
}

@for $i from 1 through 10 {
  .front-#{$i} {
    z-index: $i !important;
  }
}

@for $i from 1 through 100 {
  .line-#{$i} {
    line-height: $i/10 !important;
  }
}

@keyframes opacity_zero_to_one {
  0% {
    opacity: 0;
  }
  50% {
    color: #fff;
  }
  100% {
    opacity: 1 !important;
  }
}

@for $i from 1 through 10 {
  .anim-text {
    &:nth-child(#{$i}) {
      animation: opacity_zero_to_one #{$i*300}ms ease-in-out forwards;
    }
  }
}

@keyframes rotate-rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate-rotate linear infinite 10s;
}

.rotate-90 {
  transition: all ease-in-out 140ms;
  transform: rotate(90deg);
}

.rotate-0 {
  transition: all ease-in-out 140ms;
  transform: rotate(0deg);
}

.t-shadow {
  text-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

// End Text animation


// blog
.post {
  position: relative;
  outline: none;
  cursor: pointer;
  padding: 0.3rem !important;

  &:hover {
    border: 0.25em solid $primary;
    padding: 0 !important;

    &::before, &::after {
      content: '';
      display: block;
      position: absolute;
      background: $light;
      z-index: 1;
    }

    &::before {
      top: -0.3em;
      bottom: -0.3em;
      left: 1em;
      right: 1em;
    }

    &::after {
      left: -0.3em;
      right: -0.3em;
      top: 1em;
      bottom: 1em;
    }

    .post-image {
      z-index: 10;
      transition: all ease-in-out 200ms;
    }

  }
}

// end blog

.h-100-center {
  display: flex;
  flex-wrap: wrap;
  min-height: 95vh !important;
  justify-content: center;
  align-content: center;
}


.hover-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

  }
}
